body{
    background-color: #232323;
    margin: 0px;
    font-family: Arial, sans-serif;
}
.square{
    width:30%;
    background-color: green;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background,1s;
}

#con{
    margin: 20px auto;
    width:600px;
    
}
#result{
    color: black;
}
#manuel{
    background-color: white;
    text-align: center;
    height: 25px;
}

h1{
    text-align: center;
    color: white;
    background-color:#3498db;
    margin: 0px;
    padding: 20px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 1s;
}

.select{
    background-color:#3498db;
    color: white;
}

#col{
    font-size: 200%;
}

button{
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: inherit;
    transition: all 1s;
}
#result{
    width:20%;
    display: inline-block;
}

button:hover{
    background: #3498db;
    color:white;
}